<h1>Tool: <%= tool.name %></h1>
<div>
  <div>
    <strong>Users:</strong>
    <% tool.users.each do |user| %>
      <%= link_to user, style: "text-decoration:none" do %>
        <span><%= user.full_name %></span>
      <% end %>
    <% end %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= link_to tool.category, style: "text-decoration:none" do %>
      <span><%= tool.category.name %></span>
    <% end %>
  </div>
</div>