<h1>List of Users</h1>
<p style="color: green"><%= notice %></p>

<%= link_to "View all Tools", tools_path %>
<%= link_to "Add New User", new_user_path %>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Software tools</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="border: 1px solid #333"> <%= user.full_name %> </td>
        <td style="border: 1px solid #333">
          <% user.tools.each do |tool| %>
            <%= tool.name %>,
          <% end %>
        </td>
        <td style="border: 1px solid #333">
          <%= link_to "Edit", edit_user_path(user) %>
        </td>
        <td style="border: 1px solid #333">
          <%= button_to "Delete this user", user, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>