<p style="color: green"><%= notice %></p>

<h1>List of Users</h1>
<%= link_to "View all Tools", tools_path %>
<%= link_to "Add New User", new_user_path %>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Software tools</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= link_to user.full_name, user %> </td>
        <td>
          <% user.tools.each do |tool| %>
            <%= tool.name %>,
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>