<%= form_with(model: @category, url: categories_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tools %>
    <% Tool.all.each do |tool| %>
      <label>
        <%= check_box_tag "category[tool_ids][]", tool.id %>
        <%= tool.name %>
      </label><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
