<h1>List of Categories</h1>
<p style="color: green"><%= notice %></p>

<%= link_to "View all Tools", tools_path %>
<%= link_to "Add New Category", new_category_path %>
<br />
<br />

<%= form_with(url: categories_path, method: "get") do |form| %>
  <div>
    <%= form.label :search, "Search Categories:" %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
    <%= link_to "Clear Search", categories_path %>
  </div>
<% end %>
<br />

<table>
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Associated Tools</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td style="border: 1px solid #333"> <%= category.name %> </td>
        <td style="border: 1px solid #333">
          <% category.tools.each do |tool| %>
            <%= tool.name %>, 
          <% end %>
        </td>
        <td style="border: 1px solid #333">
          <%= link_to "Edit", edit_category_path(category) %>
        </td>
        <td style="border: 1px solid #333">
          <%= button_to "Delete this category", category, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>